<table class="table table-striped table-hover">
	<thead>
			<th>
        Company Name
      </th>
      <th>
        Production Parent MID
      </th>
      <th>
        Sandbox Parent MID
      </th>
      <th>
        Timezone
      </th>
      <th>
        Main Contact
      </th>
      <th>
        Rollout Planner Link
      </th>
      <th>
        Project Plan Link
      </th>
      <th>
        Drive Folder Link
      </th>
	</thead>
  <tbody>
    <%= render @merchants %>
  </tbody>
</table>
